

.bg{
    background: url("https://media.istockphoto.com/photos/coronavirus-covid19-new-variant-mutation-picture-id1336071300?b=1&k=20&m=1336071300&s=170667a&w=0&h=PO9o_qaO--nJAVoM35NW0uBEwnVN22UiljaX2if1kfM=");
    width:100%;
    height:150vh;
    background-repeat: no-repeat;
    background-size:cover;

}

.form-container{
    position:relative;
    justify-content: center;
    top:5vh;
    background:black;
    color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 1px #000;
    max-width: 500px;
}
